.button-menuzin {
    font-size: 20px;
    margin-left: 10px;
    color: var(--text-card);
    transition: all 0.3s ease-in-out;
}

.button-menuzin:hover {
    cursor: pointer;
    color: var(--text-50);
}

.dropdown-menu {
    background-color: var(--background-card);
    border-radius: 8px;
    color: var(--text-50);
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--border-color-filter);
}

.dropdown-item {
    color: var(--text-50);
    font-size: 15px;
}

.dropdown-item:hover {
    background-color: var(--filter-button-hover);
    color: var(--text-50);
    cursor: pointer;
}

.tool-tip {
    width: 300px;
}   