@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

/*TODO: mudar tons e cores do sistema*/

:root {
  #light {
    --text-50: #06130d;
    --text-100: #0c2719;
    --text-200: #194d32;
    --text-side: #ecf9f2;
    --text-card: #727272;

    --text-p-home: #494949;

    --background-50:  #ecf8f3;
    --background-100: #b4d5e4;
    --background-200: #357897;
    --background-side: #274972;

    --background-dash: #dddddd;
    --background-card: #f8f8f8;
    --background-card-header: #f0f0f0;

    --sidebar-item-hover: #3c68a1;
    --sidebar-sub-item-hover: #80afe4;

    --circle-loading-back: #ccd0d7;
    --circle-loading-front: #34986b;

    --scroll-bar-track: #f8f8f8;
    --scroll-bar-thumb: #dddddd;
    --scroll-bar-thumb-hover: #cccccc;

    --filter-button: #f0f0f0;
    --filter-button-hover: #dfdfdf;
    --text-filter-button: #06130d;

    --primary-400: #67cb9e;
    --primary-500: #41be86;
    --primary-600: #34986b;
    --primary-700: #277250;

    --secondary-400: #68abca;
    --secondary-500: #4296bd;
    --secondary-600: #357897;
    --secondary-700: #285a71;

    --accent-500: #4179be;
    --accent-600: #346198;

    --border-color-filter: #929292;

    --red: #ff0000;
  }
  #dark{
    --text-50: #ecf9f2;
    --text-100: #d8f3e5;
    --text-200: #b2e6cb;
    --text-side: #ecf9f2;
    --text-card: #929292;

    --text-p-home: #a8a8a8;

    --background-50: #0d1a2d;
    --background-100: #0d192a;
    --background-200: #1a314c;

    --background-side: #1d242e;

    --background-dash: #303030;
    --background-card: #252525;
    --background-card-header: #282828;

    --sidebar-item-hover: #293749;
    --sidebar-sub-item-hover: #75a1d3;

    --circle-loading-back: #656c78;
    --circle-loading-front: #41be86;

    --scroll-bar-track: #252525;
    --scroll-bar-thumb: #303030;
    --scroll-bar-thumb-hover: #3c3c3c;

    --filter-button: #282828;
    --filter-button-hover: #363636;
    --text-filter-button: #ecf9f2;

    --primary-400: #34986b;
    --primary-500: #41be86;
    --primary-600: #67cb9e;
    --primary-700: #8dd8b6;

    --secondary-400: #357897;
    --secondary-500: #4296bd;
    --secondary-600: #68abca;
    --secondary-700: #8ec0d7;

    --accent-500: #4179be;
    --accent-600: #6794cb;

    --border-color-filter: #444444;

    --red: #ff4545; 
  }
}

.App {
  font-family: 'Poppins';
  background-color: var(--background-50);
  transition: all 0.3s ease-in-out;
}

/* TODO - fazer a padornizaçao de fontes e tamanhos de texto*/
h1 {
  font-size: 28px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  text-align: center;
  margin: 0;
  padding: 0;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  margin: 0;
  padding: 0;
}

span {

}

a {

}

html,
body,
#root{
    height: 100%;
    width: 100%;
}

#main {
    margin-top: 60px;
    transition: all 0.3s ease-in-out !important;
    left: 0;
    min-height: 100vh;
    background-color: var(--background-dash);
}

::-webkit-scrollbar-track {
  color: transparent;
  transition: all 0.3s ease-in-out !important;
}

::-webkit-scrollbar-track-piece {
    color: transparent;
    transition: all 0.3s ease-in-out !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-thumb);
    border-radius: 10px;
    transition: all 0.3s ease-in-out !important;
    border: 3px solid var(--scroll-bar-track);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-bar-thumb-hover);
    transition: all 0.3s ease-in-out !important;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;
    transition: all 0.3s ease-in-out !important;
}
/*aqui é o thema mais global o que envolve todo o site*/